body {
  padding-top: 60px;
}
.navbar {
  background-color: #56A0D3;
}
.navbar-inverse  .navbar-header  .navbar-brand {
	color: #000000;
}
.img-responsive {
  height:250px;
  width:225px;
  margin: 0 auto;
  margin-top: 20px;
}